/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base pour le corps */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Conteneur principal */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Styles pour l'en-tête */
header {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Autres styles pour l'en-tête restent inchangés */

h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'Arial Black', sans-serif;
    background: linear-gradient(to right, #ffce00, #ffce00 33%, #00a74d 33%, #00a74d 66%, #ff0000 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #333;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Styles pour le contenu principal */
main {
    margin-top: 20px;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
/* Styles pour le pied de page 
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}*/
